<% content_for :title, @movie.title %>
<h1><%= @movie.title %> (<%= @movie.rating %>)</h1>
<%= image_for(@movie) %>
<br /><br />

<% if current_user %>
  <% unless @current_favorite %>
    <%= button_to 'Fave', movie_favorites_path(@movie) %>
  <% else %>
    <%= button_to 'Unfave', movie_favorite_path(@movie, @current_favorite), method: :delete %>
  <% end %>
<% end %>

<h3>Description:</h3>
<p><%= @movie.description %></p>

<h3>Release Date:</h3>
<p><%= @movie.released_on %></p>

<h3>Cast:</h3>
<p><%= @movie.cast %></p>

<h3>Director:</h3>
<p><%= @movie.director %></p>

<h3>Duration:</h3>
<p><%= @movie.duration %></p>

<h3>Box Office:</h3>
<p><%= format_total_gross(@movie) %></p>

<h3>Average Reviewer Rating:</h3>
<strong>
  <p><%= format_average_stars(@movie) %></p>
</strong>

<p>
  <%= link_to "Reviews", movie_reviews_path(@movie) %> <strong>(<%= @movie.reviews.size %>)</strong>
</p>

<br />

<nav id="movies">
  <% if current_user %>
    <%= link_to "Write Review", new_movie_review_path(@movie) %>
  <% end %>
  <% if current_user_admin? %>
     ||
    <%= link_to "Edit", edit_movie_path(@movie) %> ||
    <%= link_to "Delete", @movie, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</nav>

<% content_for :side do %>
  <% if @fans.any? %>
    <h3><%= pluralize(@fans.size, 'Fan') %></h3>
    <ul>
      <% @fans.each do |fan| %>
        <li><%= link_to fan.name, fan %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @genres.any? %>
    <h3>Genre(s)</h3>
    <ul>
      <% @genres.each do |genre| %>
        <li><%= genre.name %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
