<aside id="sidebar">
  <nav>
    <ul>
      <div>
        <% unless current_user %>
          <%= link_to "Sign In", signin_path %><br />
          <%= link_to 'Sign Up', signup_path %>
        <% else %>
          <%= link_to current_user.name, current_user %><br />
          <%= link_to "Account Settings", edit_user_path(current_user) %><br />
          <%= link_to 'Sign Out', session_path, method: :delete %>
        <% end %>
      </div>
      <br />
      <% if current_user_admin? %>
        <li><%= link_to "Add New Movie", new_movie_path  %></li>
      <% end %>
        <li><%= link_to "Released", movies_path %></li>
        <li><%= link_to "Hits", filtered_movies_path(:hits) %></li>  
        <li><%= link_to "Flops", filtered_movies_path(:flops) %></li>
        <li><%= link_to "Upcoming", filtered_movies_path(:upcoming) %></li>
        <li><%= link_to "Recent", filtered_movies_path(:recent) %></li>
    </ul>
  </nav>
  <%= content_for :side %>
</aside>
